.search-container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.search-container input {
    padding: 15px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #a9a9a9;
}

.search-container button {
    padding: 15px 30px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: #FFFFFF;
    font-weight: bold;
}